:root{
    --primary: rgb(3, 188, 188);
    --secondary: rgb(0, 40, 34);
    --bgDark: rgb(12, 12, 12);
    --bgLight: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav{
    padding: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: var(--bgLight);
    z-index: 1000;
    border-bottom: 2px solid darkcyan;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px rgba(91, 120, 122, 0.689); 
}

.nav_items{
    padding-left: 3rem;
}

header nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2rem;
    transition: all 0.2s ease;
}

header nav a:hover{
    color: var(--primary);
}


.contact_button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
    background-color: var(--primary);
    color: var(--secondary);
    margin-left: auto;
    margin-right: 3rem;
}

.contact_button:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    padding-top: 6rem;
    padding-left: 0.5rem;
    max-width: 1152px;
    margin: 0 auto;
}

.profile_img{
    max-width: 45%; 
    height: auto; 
    padding-right: 1rem;
}

.content{
    flex: 1; 
    padding: 0px 20px;
    text-align: left;
    color: black; 
    margin-left: 2rem;
    
}

.cv_button{
    margin-top: 1.2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.cv_button:hover{
    background: var(--primary);
    color: var(--secondary);
}


#contact {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    min-width: 280px;
    width: 90%;
    margin: 30px auto;
}

#contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 10px;  
    background-color: #f0f0f0;  
    border-radius: 4px;  
}

.contact-info p {
    margin: 0;  
    font-size: 16px;  
}

.contact-info a {  
    text-decoration: none;  
    color: var(--primary);  
}

.contact-info a:hover {
    text-decoration: underline;  
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--primary); 
    color: var(--secondary);  
    border-radius: 4px;  
    cursor: pointer;  
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: 600;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.2s ease;
    margin-top: 10px;
}

button:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.center-button {  
    text-align: center;
}


footer{ 
    width: 100%;
    background-color: var(--primary);
    color: black;
    text-align: center;
    margin-top: 2rem;
    padding: 20px;
}




